<!-- BLOQUE AZUL CON IMAGEN DE FONDO -->
<div class="relative h-[400px] mb-10">
  <!-- Imagen de fondo -->
  <img
    src="assets/images/billetes2.png"
    alt="Motos eléctricas"
    class="absolute inset-0 w-full h-full object-cover drop-shadow-2xl"
  />

  <!-- CONTENIDO ENCIMA (z-10) -->
  <div
    class="relative z-10 text-white flex flex-col lg:flex-row top-10 items-center left-10 pt-10 pb-24"
  >
    <!-- LADO IZQUIERDO: TEXTO + CONTADOR -->
    <div
      class="w-full lg:w-1/2 px-6 lg:px-10 flex flex-col ml-20 justify-center gap-6"
    >
      <div class="space-y-1">
        <p class="text-5xl lg:text-5xl font-bold leading-tight text-accent">
          Pague de forma Segura
        </p>
        <p class="text-5xl lg:text-5xl font-bold leading-tight text-white">
          Presencial y en efectivo
        </p>
      </div>
    </div>
  </div>
</div>
