<div class="mx-{{marginLeft}} mb-10">
  <div class="mb-6">
    <p class="text-xl text-primary">Más recientes</p>
    <h2 class="text-2xl font-bold lg:text-2xl">
      <span class="text-accent">Últimos Productos</span>
    </h2>
  </div>
  <div class="grid grid-cols-6">
    @for (product of ultimosProd; track product.id; let i = $index) {
    <app-product-card
      class="col-span-1"
      [categoria]="{ id: product.categoria.id, name:product.categoria.name , id_padre: product.categoria.id_padre  }"
      [name]="product.name"
      [img]="product.img"
      [brand]="product.brand"
      [price]="product.price"
      [warranty]="product.warranty"
      layout="vertical"
    ></app-product-card>
    }
  </div>
</div>
