<div class="mb-10 mt-20">
  <div class="mb-6 flex flex-row items-end gap-3">
    <p class="text-xl text-primary font-bold">Todas las Categorías</p>
    <p class="text-[16px] text-text-muted">
      {{filteredProducts.length}} Productos
    </p>
  </div>

  @if (filteredProducts.length === 0) {
  <div class="py-10 text-center text-gray-500">
    No se encontraron productos @if (searchTerm) { para la búsqueda "{{
    searchTerm }}" }.
  </div>
  } @else {

  <!-- GRID -->
  <div class="grid xl:grid-cols-5 lg:grid-cols-4 sm:grid-cols-3 grid-cols-2 gap-4">
    @for (product of paginatedProducts; track product.id; let i = $index) {
    <app-product-card
      class="col-span-1"
      [categoria]="{
              id: product.categoria.id,
              name: product.categoria.name,
              id_padre: product.categoria.id_padre
            }"
      [name]="product.name"
      [img]="product.img"
      [brand]="product.brand"
      [price]="product.price"
      [warranty]="product.warranty"
      layout="vertical"
      [product]="product"
    ></app-product-card>
    }
  </div>

  <!-- PAGINACIÓN -->
  @if (totalPages > 1) {
  <div class="mt-10 flex items-center justify-center gap-10">
    <button
      type="button"
      (click)="prevPage()"
      [disabled]="currentPage === 1"
      class="text-gray-500 disabled:text-gray-300"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="Arrow / Chevron_Left">
          <path
            id="Vector"
            d="M15 19L8 12L15 5"
            stroke="#777777"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </g>
      </svg>
    </button>

    <!-- NÚMEROS DE PÁGINA -->
    @for (page of visiblePages; track page) {
    <button
      type="button"
      (click)="goToPage(page)"
      [ngClass]="
          page === currentPage
            ? 'flex items-center justify-center w-12 h-12 rounded-2xl bg-accent text-4 font-normal text-primary'
            : 'text-[16px] font-normal text-text-muted hover:text-[#555555]'
        "
    >
      {{ page }}
    </button>
    }

    <!-- FLECHA DERECHA -->
    <button
      type="button"
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
      class="text-[32px] text-[#8C8C8C] disabled:text-[#D0D0D0] hover:text-[#555555]"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="Arrow / Chevron_Right">
          <path
            id="Vector"
            d="M9 5L16 12L9 19"
            stroke="#777777"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </g>
      </svg>
    </button>
  </div>
  } }
</div>
