<div class="relative bg-primary text-white font-sans overflow-visible">
  <!-- CONTENIDO (solo texto) -->
  <div
    class="mx-auto max-w-6xl flex flex-col lg:flex-row items-center gap-10 pt-24 pb-24 px-4 lg:px-0"
  >
    <!-- COLUMNA IZQUIERDA: TEXTOS -->
    <div class="w-full lg:w-1/2 space-y-4">
      <div class="max-w-xl">
        <h1
          class="text-3xl lg:text-5xl font-extrabold leading-tight text-accent"
        >
          Variedad de productos
        </h1>

        <h1 class="text-3xl lg:text-5xl font-extrabold leading-tight">
          Electrodomésticos
        </h1>
      </div>

      <p class="text-sm lg:text-base text-background-soft/90 max-w-md mt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit hendrerit
        scelerisque, blandit duis sapien phasellus turpis sem convallis
        imperdiet tempus.
      </p>
    </div>

    <!-- COLUMNA DERECHA VACÍA (solo para equilibrar el layout en desktop) -->
    <div class="hidden lg:block w-1/2"></div>
  </div>

  <!-- 🔹 IMAGEN DE LAS OLLAS SUPERPUESTA -->

  <div
    class="mx-auto absolute -top-20 right-28 max-w-6xl px-4 lg:px-0 flex justify-center lg:justify-end"
  >
    <img
      src="assets/images/ollas1.png"
      alt="Ollas"
      class="h-[260px] lg:h-[650px] object-contain drop-shadow-xl"
    />
  </div>
</div>
