<div class="bg-primary text-white font-sans relative h-[305px] sm:h-[355px]">
  <div
    class="mx-auto max-w-7xl  grid grid-cols-1 md:grid-cols-2 items-center gap-10 pt-1 md:pt-16 lg:pt-20 pb-16 lg:pb-20 px-4 sm:px-6 lg:px-0"
  >
    <!-- COLUMNA IZQUIERDA: TEXTOS -->
    <div class="space-y-4 text-center lg:text-left">
      <div class="max-w-xl mx-auto lg:mx-0">
        <h1
          class="text-3xl sm:text-4xl lg:text-5xl font-extrabold leading-tight text-accent"
        >
          Variedad de productos
        </h1>

        <h1 class="text-3xl sm:text-4xl lg:text-5xl font-extrabold leading-tight">
          Electrodomésticos
        </h1>
      </div>

      <p class="text-sm sm:text-base text-background-soft/90 max-w-xl mx-auto lg:mx-0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit hendrerit
        scelerisque, blandit duis sapien phasellus turpis sem convallis
        imperdiet tempus.
      </p>
    </div>

    <!-- IMAGEN -->
    <div class="w-full flex justify-center lg:justify-end">
      <img
        src="assets/images/ollas1.png"
        alt="Ollas"
        class="max-w-[280px] sm:max-w-[360px] xl:max-w-[660px] h-auto absolute top-40 md:top-4 drop-shadow-xl"
      />
    </div>
  </div>
</div>
