<div class="mx-28 px-4 lg:px-0 py-8">
  <app-breadcrumb></app-breadcrumb>

  <h1 class="text-2xl lg:text-3xl font-bold text-primary mb-6">
    Datos de pago
  </h1>

  <app-cart-ruta-envio [currentStep]="4"></app-cart-ruta-envio>

  <div class="flex justify-between gap-4">
    <div>
      <h2
        class="text-xl border-b-2 border-deafuera font-bold text-primary mb-3"
      >
        PRODUCTOS
      </h2>

      @if (cartItems$ | async; as items) {
      <div class="space-y-3 pt-1">
        @for (item of items; track item.product.id) {
        <article
          class="rounded-2xl w-[385px] h-[163px] border border-gray-200 p-4 bg-white px-4 flex gap-4 items-center"
        >
          <div class="w-32 h-[142px] flex items-center">
            <img
              [src]="`https://app.fadiar.com:444/prueba/api/${item.product.img}`"
              [alt]="item.product.name"
              class="max-w-full max-h-full object-contain"
            />
          </div>

          <div class="flex-1">
            <p
              class="text-xl font-semibold text-primary truncate max-w-[200px]"
            >
              {{ item.product.name }}
            </p>
            <p class="text-xl font-light text-primary">
              Marca {{ item.product.brand }}
            </p>
            <span class="mt-1 text-2xl font-bold flex gap-1 text-primary">
              $ {{ item.product.price }}
              <p class="font-light">USD</p>
            </span>
            <p class="text-[16px] text-text-muted">
              Cantidad {{ item.quantity }}
            </p>
          </div>
        </article>
        }
      </div>
      }
    </div>

    <div class="flex justify-between w-full">
      <!-- Datos de pago columna 3 -->
      <div>
        <h2
          class="text-xl border-b-2 border-deafuera font-bold text-primary mb-3"
        >
          DATOS DE PAGO
        </h2>

        <div class="rounded-xl bg-white px-4 text-[16px] space-y-3">
          <p class="mb-2">
            <span class="text-text-muted">Método de pago:</span>
            <span class="text-primary">
              {{ checkoutService.paymentMethod === 'card' ? 'Tarjeta de crédito
              o débito' : 'Saldo TropiPay' }}
            </span>
          </p>

          <div class="space-y-3">
            <p class="text-[16px] text-primary mb-1 bg-relleno">
              Datos de beneficiario
            </p>
            <p class="text-text-muted">
              Nombre: {{ checkoutService.payer.firstName }}
            </p>
            <p class="text-text-muted">
              Apellidos: {{ checkoutService.payer.lastName }}
            </p>
            <p class="text-text-muted">
              Teléfono: {{ checkoutService.payer.countryCode }} {{
              checkoutService.payer.phone }}
            </p>
            <p class="text-text-muted">
              Correo electrónico: {{ checkoutService.payer.email }}
            </p>
          </div>

          <div class="space-y-3">
            <p class="text-[16px] text-primary bg-relleno">
              Dirección de entrega
            </p>
            <p class="text-text-muted">
              Dirección: {{ checkoutService.payer.address }}
            </p>
          </div>

          <button
            type="button"
            class="mt-3 text-[16px] text-accent hover:underline"
            (click)="editPayment()"
          >
            Editar datos de pago
          </button>
        </div>
      </div>

      <!-- Datos de entrega -->
      <div>
        <h2
          class="text-xl border-b-2 border-deafuera font-bold text-primary mb-3"
        >
          DATOS DE ENTREGA
        </h2>

        <div class="space-y-3">
          <p class="text-[16px] text-primary">
            <span class="text-text-muted">Método de entrega:</span>
            Domicilio
          </p>

          <div class="space-y-3">
            <p class="text-[16px] text-primary mb-1 bg-relleno">
              Datos de beneficiario
            </p>
            <p class="text-text-muted">
              Nombre: {{ checkoutService.beneficiary.firstName }}
            </p>
            <p class="text-text-muted">
              Apellidos: {{ checkoutService.beneficiary.lastName }}
            </p>
            <p class="text-text-muted">
              Teléfono: {{ checkoutService.beneficiary.countryCode }} {{
              checkoutService.beneficiary.phone }}
            </p>
            <p class="text-text-muted">
              Correo electrónico: {{ checkoutService.beneficiary.email }}
            </p>
          </div>

          <div class="space-y-3">
            <p class="text-[16px] text-primary bg-relleno">
              Dirección de entrega
            </p>
            <p class="text-text-muted">
              Dirección: {{ checkoutService.payer.address }}
            </p>
          </div>

          <button
            type="button"
            class="mt-3 text-[16px] text-accent hover:underline"
            (click)="editDelivery()"
          >
            Editar datos de entrega
          </button>
        </div>
      </div>

      <!-- Columna 3: Importe final -->
      <div class="space-y-4">
        <h3
          class="text-xl w-[385px] border-b-2 border-deafuera font-bold text-primary mb-3"
        >
          IMPORTE
        </h3>

        <div
          class="rounded-xl bg-[#F5F7FA] px-4 py-4 space-y-3 text-sm text-gray-700"
          *ngIf="(subtotal$ | async) as subtotal"
        >
          <div class="flex items-center justify-between">
            <span class="text-[16px] font-light">Subtotal:</span>
            <span>$ {{ subtotal | number: '1.2-2' }} USD</span>
          </div>

          <div class="flex items-center justify-between">
            <span class="text-[16px] font-light"
              >Comisión por forma de pago:</span
            >
            <span>$ {{ getCommission(subtotal) | number: '1.2-2' }} USD</span>
          </div>

          <div class="flex items-center justify-between">
            <span class="text-[16px] font-light">Costo de envío:</span>
            <span>
              $ {{ checkoutService.shippingCost | number: '1.2-2' }} USD
            </span>
          </div>

          <div
            class="mt-2 pt-3 border-t border-gray-300 flex items-center justify-between text-base font-semibold text-primary"
          >
            <span>Total</span>
            <span> $ {{ getTotal(subtotal) | number: '1.2-2' }} USD </span>
          </div>
        </div>

        <!-- Botones -->
        <div class="mt-4 flex gap-3">
          <button
            type="button"
            class="flex-1 h-16 w-[185px] text-xl rounded-xl border border-pritext-primary py-3 px-6 font-semibold text-primary hover:bg-[#EFF2F7]"
            (click)="goBack()"
          >
            Atrás
          </button>

          <button
            type="button"
            class="flex-1 h-16 w-[185px] rounded-xl bg-primary py-3 px-6 text-xl font-semibold text-white hover:opacity-90"
          >
            Continuar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-download-app-banner></app-download-app-banner>
