<section class="bg-background pb-8 pt-2 lg:py-12">
  <div class="mb-10 mx-10 md:mx-20 2xl:mx-48">
    <!-- Títulos -->
    <div class="mb-6">
      <p class="text-xl text-primary">No pierdas la Oportunidad!</p>
      <h2 class="text-xl lg:text-2xl font-semibold">
        <span class="text-accent">Nuestras Ofertas</span>
      </h2>
    </div>

    <!-- CONTENEDOR GENERAL -->
    <div
      *ngIf="ofertas && ofertas.length >= 9"
      class="w-full mx-auto px-3 sm:px-4 lg:px-0 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-3 sm:gap-4 md:gap-5 xl:gap-6"
    >
      @for (product of ofertas; track product.id; let i = $index) { @if (i < 9)
      {
      <app-product-card
        [categoria]="{
          id: product.categoria.id,
          name: product.categoria.name,
          id_padre: product.categoria.id_padre
        }"
        [name]="product.name"
        [img]="product.img"
        [brand]="product.brand"
        [price]="product.price"
        [warranty]="product.warranty"
        layout="vertical"
        [product]="product"
      ></app-product-card>
      } }
    </div>
  </div>
</section>
