<section class="bg-background py-12 lg:py-16">
  <div class="mx-48 max-w-6xl px-4 lg:px-0">
    <!-- Títulos -->
    <div class="mb-6">
      <p class="text-xl text-primary">No pierdas la Oportunidad!</p>
      <h2 class="text-xl lg:text-2xl font-semibold">
        <span class="text-accent">Nuestras Ofertas</span>
      </h2>
    </div>

    <div class="grid grid-cols-6 gap-x-69 gap-y-5">
      @for (product of ofertas; track product.id; let i = $index) {
      <app-product-card
        class="col-span-1"
        [class.col-span-2]="isDoubleSpan(i)"
        [categoria]="{ id: product.categoria.id, name:product.categoria.name , id_padre: product.categoria.id_padre  }"
        [name]="product.name"
        [img]="product.img"
        [brand]="product.brand"
        [price]="product.price"
        [warranty]="product.warranty"
        [layout]="getLayout(i)"
        [product]="product"
      ></app-product-card>
      }
    </div>
  </div>
</section>
