<div class="mx-28 px-4 lg:px-0 py-8">
  <!-- Rutas -->
  <app-breadcrumb></app-breadcrumb>

  <h1 class="text-2xl lg:text-3xl font-bold text-primary mb-6">Carrito</h1>

  <app-cart-ruta-envio [currentStep]="1"></app-cart-ruta-envio>

  <!-- CONTENIDO PRINCIPAL -->
  <div class="flex justify-between">
    <!-- LISTA DE PRODUCTOS -->
    <section>
      @if (cartItems$ | async; as items) { @if (items.length === 0) {
      <div class="rounded-xl p-6 text-center text-gray-500">
        Tu carrito está vacío.
      </div>
      } @else {
      <div class="space-y-4">
        @for (item of items; track item.product.id) {

        <article class="rounded-xl bg-white flex gap-4 items-stretch">
          <app-product-card
            class="col-span-1"
            [categoria]="{ id: item.product.categoria.id, name:item.product.categoria.name , id_padre: item.product.categoria.id_padre  }"
            [name]="item.product.name"
            [img]="item.product.img"
            [brand]="item.product.brand"
            [price]="item.product.price"
            [warranty]="item.product.warranty"
            layout="horizontal"
            [product]="item.product"
            [quantity]="item.quantity"
            mode="cart"
            (increment)="increase(item)"
            (decrement)="decrease(item)"
            (remove)="remove(item)"
          ></app-product-card>
        </article>

        }
      </div>
      } }
    </section>

    <!-- COLUMNA DERECHA: IMPORTE + FORM + RESUMEN -->
    <aside class="space-y-5 w-[800px] flex flex-col items-center">
      <div>
        <!-- IMPORTE -->
        <div class="] rounded-xl bg-white">
          <div
            class="border-b border-deafuera px-4 py-2 text-xl font-bold text-primary"
          >
            IMPORTE
          </div>
          <div class="px-8 py-3 flex items-center justify-between">
            <span class="text-sm text-text-muted font-light">Subtotal</span>
            <span
              class="text-xl text-text-muted font-light"
              *ngIf="(subtotal$ | async) as subtotal"
            >
              $ {{ subtotal | number: '1.2-2' }} USD
            </span>
          </div>
        </div>

        <!-- DATOS DEL CLIENTE -->
        <div class="bg-white p-4 space-y-8">
          <p class="text-sm font-bold text-primary">Leydis Jadiar López</p>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
            <div class="md:col-span-1">
              <label
                class="block text-[16px] font-light text-background-dark mb-1"
              >
                Teléfono
              </label>

              <div class="flex gap bg-relleno h-14 rounded-2xl">
                <!-- Select código de país -->
                <select
                  class="w-20 rounded-2xl px-2 py-2 text-sm outline-none"
                  [(ngModel)]="customer.countryCode"
                  name="countryCode"
                >
                  @for (cc of countryCodes; track cc.code) {
                  <option [value]="cc.code">{{ cc.label }}</option>
                  }
                </select>

                <!-- Número sin código -->
                <input
                  type="text"
                  class="flex-1 rounded-md px-3 py-2 text-sm outline-none"
                  placeholder="Número de teléfono"
                  [(ngModel)]="customer.phone"
                  name="phone"
                />
              </div>
            </div>

            <div class="md:col-span-1">
              <label
                class="block text-[16px] font-light text-background-dark mb-1"
              >
                Carnet de Identidad
              </label>
              <input
                type="text"
                class="w-[385px] h-14 rounded-2xl px-3 py-2 text-sm outline-none bg-relleno placeholder:text-[16px] placeholder:text-text-muted placeholder:font-light"
                placeholder="Carnet de Identidad"
                [(ngModel)]="customer.idCard"
                name="idCard"
              />
            </div>

            <div>
              <label
                class="block text-[16px] font-light text-background-dark mb-1"
              >
                Provincia
              </label>
              <select
                class="w-[385px] h-14 rounded-2xl px-3 py-2 text-sm outline-none bg-relleno placeholder:text-[16px] placeholder:text-text-muted placeholder:font-light"
                [(ngModel)]="customer.province"
                name="province"
              >
                <option value="" class="font-light text-text-muted text-[16px]">
                  Seleccione provincia
                </option>
                <option value="La Habana">La Habana</option>
                <option value="Mayabeque">Mayabeque</option>
                <option value="Villa Clara">Villa Clara</option>
                <option value="Matanzas">Matanzas</option>
                <option value="Pinar del Río">Pinar del Río</option>
                <option value="Artemisa">Artemisa</option>
                <option value="Cienfuegos">Cienfuegos</option>
                <option value="Granma">Granma</option>
                <!-- agrega las demás -->
              </select>
            </div>

            <div>
              <label
                class="block text-[16px] font-light text-background-dark] mb-1"
              >
                Municipio
              </label>
              <input
                type="text"
                class="w-[385px] h-14 rounded-2xl px-3 py-2 text-sm outline-none bg-relleno placeholder:text-[16px] placeholder:text-text-muted placeholder:font-light"
                placeholder="Seleccione municipio"
                [(ngModel)]="customer.municipality"
                name="municipality"
              />
            </div>
          </div>

          <label class="mt-2 flex items-center gap-2 text-xs text-gray-600">
            <input
              type="checkbox"
              class="accent-[#0070D2]"
              [(ngModel)]="customer.homeDelivery"
              name="homeDelivery"
            />
            <span class="text-[16px] text-text-muted">
              ¿Necesitas entrega a domicilio?
              <span class="text-[14px] text-[#F7941D]">
                (Disponible solo en La Habana)
              </span>
            </span>
          </label>
        </div>

        <!-- RESUMEN DEL PEDIDO -->
        <div class="rounded-xl bg-white">
          <div class="px-4 py-2 text-xl font-bold text-primary">
            RESUMEN DEL PEDIDO
          </div>

          <div class="px-4 py-3">
            <div
              class="flex h-20 px-6 items-center bg-relleno justify-between text-xl font-light text-primary rounded-t-2xl"
            >
              <span>Subtotal</span>
              <span *ngIf="(subtotal$ | async) as subtotal">
                $ {{ subtotal | number: '1.2-2' }} USD
              </span>
            </div>

            <div
              class="px-6 h-20 py-3 bg-rellenoEnvio rounded-b-2xl flex items-center justify-between"
              *ngIf="(subtotal$ | async) as subtotal"
            >
              <span class="text-2xl font-semibold text-primary">
                Total a pagar
              </span>
              <span class="text-xl font-bold text-primary flex gap-1">
                $ {{ getTotal(subtotal) | number: '1.2-2' }}
                <p class="font-light">USD</p>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- BOTÓN CONFIRMAR -->
      <button
        type="button"
        class="w-[385px] mt-2 py-3 rounded-2xl bg-primary text-white text-xl font-semibold hover:opacity-90"
        (click)="confirmOrder()"
      >
        Confirmar Orden
      </button>
    </aside>
  </div>
</div>
