<!-- BLOQUE AZUL CON IMAGEN DE FONDO -->
<div class="relative h-[310px] mb-30 overflow-visible">
  <!-- Imagen de fondo -->
  <img
    src="assets/images/proximamente.png"
    alt="Motos eléctricas"
    class="absolute w-full h-[450px] object-fill drop-shadow-2xl"
  />

  <!-- CONTENIDO ENCIMA (z-10) -->
  <div
    class="relative z-10 top-10 text-white flex flex-col lg:flex-row items-center pt-10 pb-24 space-x-8"
  >
    <!-- LADO IZQUIERDO: TEXTO + CONTADOR -->
    <div
      class=" lg:w-1/2 px-6 lg:px-10 flex flex-col ml-20 justify-center gap-6"
    >
      <div class="space-y-1">
        <p class="text-3xl lg:text-5xl font-bold leading-tight text-accent">
          Próximamente
        </p>
        <p class="text-3xl lg:text-5xl font-bold leading-tight text-white">
          en nuestra Tienda
        </p>
      </div>

      <!-- CONTADOR -->
      <div class="flex flex-wrap gap-3 mt-4">
        <div
          class="flex flex-col items-center justify-center w-19 h-19 rounded-lg bg-background-dark text-center"
        >
          <span class="text-xl font-semibold">{{ time.days }}</span>
          <span class="text-[11px] text-accent">días</span>
        </div>
        <div
          class="flex flex-col items-center justify-center w-19 h-19 rounded-lg bg-background-dark text-center"
        >
          <span class="text-xl font-semibold">{{ time.hours }}</span>
          <span class="text-[11px] text-accent">horas</span>
        </div>
        <div
          class="flex flex-col items-center justify-center w-19 h-19 rounded-lg bg-background-dark text-center"
        >
          <span class="text-xl font-semibold">{{ time.minutes }}</span>
          <span class="text-[11px] text-accent">minutos</span>
        </div>
        <div
          class="flex flex-col items-center justify-center w-19 h-19 rounded-lg bg-background-dark text-center"
        >
          <span class="text-xl font-semibold">{{ time.seconds }}</span>
          <span class="text-[11px] text-accent">segundos</span>
        </div>
      </div>
    </div>
  </div>
</div>
